# Folders
/build
/discloud
/deprecated
/node_modules

# Files
/.env
/.env.development
/package-lock.json
.env.example

# Config files
/firebase.json
/discloud.config

# Extensions
*.zip
*.sqlite
*.exe
*.db
*.development.json